@import url("./navbar/navbar.css");
@import url("./hero/hero.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --page-padding: 14rem;
    --primary-color: #3182ce;
    --blue-700: #0665ff;
    --secondary-color: #525252;
    --bg-color: #f9fafb;
    --text-color: #111827;
    --border-radius: 0.5rem;
    --bold: 700;
    --color-green: #10b981;
}

/* main text */
body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.aiProposalBody {
    background: linear-gradient(to bottom right, #c5dbf7, #ffffff, #e0c0ff);
    background-repeat: no-repeat;
}

.icon-blue-custom {
    color: var(--primary-color);
    height: auto;
    width: 2rem;
}

/* Global Padding Container for Home Page*/
.container {
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
}

/* code blocks */
code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}