@import url("./navbar/navbar.css");
@import url("./hero/hero.css");
@import url("./howitworks/howitworks.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --page-padding: 14rem;
    --primary-color: #2554f1;
    --blue-700: #0665ff;
    --secondary-color: #525252;
    --bg-color: #f9fafb;
    --text-color: #111827;
    --border-radius: 0.5rem;
    --bold: 700;
    --color-green: #10b981;
    --big-text: 2.5rem;
    --small-text: 1.2rem;
}

/* main text */
body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn {
    letter-spacing: 0.5px;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: var(--border-radius);
}

.aiProposalBody {
    background: linear-gradient(to bottom right, #c5dbf7, #ffffff, #e0c0ff);
    background-repeat: no-repeat;
}

.icon-white {
    color: #ffffff;
}

.icon-blue {
    color: var(--primary-color);
}

.icon-blue-medium {
    height: auto;
    width: 2.2rem;
}

.icon-blue-small {
    height: auto;
    width: 1rem;
}

/* Global Padding Container for Home Page*/
.container {
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
}

/* code blocks */
code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}