@import url(../app.css);

.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbarContainer {
    border-bottom: 1.8px solid rgb(196, 196, 196);
    width: 100%;
    padding: 1rem 0;
    background-color: var(--bg-color);
}

.navbarInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLeft {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.navRight {
    display: flex;
}

.navRight ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.navRight ul li {
    list-style-type: none;
}

.loginBtn {
    border: none;
    background-color: transparent;
    color: var(--secondary-color);
    letter-spacing: 0.5px;
    font-weight: var(--bold);
}

.loginBtn:hover {
    cursor: pointer;
    color: var(--text-color);
    font-weight: var(--bold);
    color: blue;
    text-decoration: underline;
}

.GetStartedBtn {
    color: var(--bg-color);
    background-color: var(--blue-700);
    font-weight: var(--bold);
}